.title{
    flex:0 0 100%;
}
header {
    display: inline-block;
    flex-direction: column;
    align-items: space-around;
    text-align: center;
    flex: 0 0 100%;
}
.button {
    color: white;
    background-color: rgba(18, 18, 160, 0.746);
    padding: 15px 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
}
body{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: space-evenly;
    flex-direction: column;
}
footer{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}